/* responsive for max-width 350*553 or small device */
@media screen and (max-width: 375px) {
  .hero-btn-container {
    gap: 20px;
  }
  .hero-btn1 {
    padding: 10px 30px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    height: 50px;
    border: none;
  }
  .hero-btn2 {
    padding: 10px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    height: 50px;
  }
}

/* for mobile or small device */

@media screen and (max-width: 576px) {
  .head-section {
    margin-top: 0px;
    padding-top: 20px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
  }
  .nav-item {
    display: none;
  }
  .nav-container li {
    padding: 0px 0px;
  }
  .cart-icon {
    display: block;
    /* background-color: black; */
    font-size: x-large;
  }

  /* hero banner section */
  .hero-section {
    flex-direction: column;
    padding: 0 20px;
  }
  .hero-col1 {
    width: 100%;
  }
  .hero-col2 {
    width: 100%;
    overflow: hidden;
  }
  .hero-col1 h1 {
    font-size: 3rem;
    line-height: 120%;
    max-width: 85%;
  }
  .shape {
    font-size: 6rem;
    font-weight: 400;
  }
  .hero-col1 p {
    max-width: 95%;
  }
  .club {
    display: none;
  }
  .hero-btn-container {
    gap: 70px;
  }
  .hero-btn1 {
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    width: 160%;
    height: 50px;
    border: none;
    /* margin-right: 50px; */
  }
  .hero-btn2 {
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    width: 120%;
    height: 50px;
  }
  .hero-col2-image-container {
    margin-top: 48px;
    display: flex;
    max-height: 420px;
    /* border: 1px solid green; */
  }
  .hero-col2-image-container > img {
    /* border: 1px solid violet; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .tutorial-text {
    font-size: 0.8rem;
    width: 80px;
  }
  .tutorial-text h4 {
    font-size: 1.8rem;
  }
  .tutorial-number {
    top: 56%;
    right: 42%;
    width: 152px;
    backdrop-filter: blur(10px);
  }
  .workout-video {
    top: 22%;
    right: 0%;
    width: 145px;
    height: 70px;
    background: #ffffff1a;
  }

  /* habit section styles */
  .habit-parent {
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .habit-section {
    padding: 0 5px;
  }
  .habit-section > h2 {
    font-size: 2rem;
  }
  .habit-section p {
    padding: 0 20px;
    width: 100%;
  }
  .habit-item h2 {
    font-size: 1.2rem;
    width: 100%;
  }
  .habit-item p {
    text-align: center;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  /* run extra section */
  .run-extra {
    /* border: 1px solid red; */
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: #232323;
  }
  .run-col1 {
    width: 100%;
  }
  .run-col1 h2 {
    font-size: 2rem;
    line-height: 50px;
  }
  .run-col1 p {
    margin-top: -5px;
    font-size: 0.9rem;
    width: 100%;
  }
  .run-col1 button {
    width: 100%;
    margin-bottom: 20px;
  }
  .run-col2 {
    width: 100%;
    height: 200px;
    background-size: 100%;
    /* background-position: center; */
  }
  .run-col2 img {
    /* display: none; */
    width: 130%;
    height: 140%;
    object-fit: cover;
    position: relative;
    right: 23%;
    bottom: auto;
    border-radius: inherit;
  }

  /* BMI section */
  .bmi-calculator {
    /* border: 1px solid tomato; */
    max-width: 90%;
    margin: 0 auto;
    padding: 0 0;
  }
  .bmi-calculator h2 {
    width: 100%;
    font-size: 1.9rem;
    margin: -10px 0;
    padding: 0 0 0 5px;
  }
  .bmi-calculator p {
    width: 100%;
    margin-left: 2px;
    margin-top: 25px;
    padding: 0 0 0 5px;
    font-size: 0.8rem;
  }
  .bmi-calc-container {
    /* border: 1px solid red; */
    max-width: 100%;
    margin: 30px auto;
    padding: 40px 0;
    background-color: #232323;
  }
  .bmi-main {
    width: 100%;
    flex-direction: column;
  }
  .bmi-col1 {
    padding: 0 20px 0 10px;
  }
  .bmi-col1 h3 {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  /* bmi col 2 */
  .bmi-col2 {
    width: 100%;
    padding: 0 20px 0 10px;
  }
  .bmi-col2 h3 {
    margin-top: 40px;
    font-size: 1.2rem;
  }
  .bmi-col2 p {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 13px;
  }
  form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 50%);
  }
  form input,
  select,
  .factor,
  .gender {
    font-size: 0.9rem;
  }
  .calc-btn {
    width: 140%;
  }

  /* team section */
  .team-container {
    background-color: #232323;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .section-details {
    width: 90%;
  }

  /* FAQ section */

  .faq-col-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
  }

  .faq-container hr {
    margin-top: -20px;
    max-width: 120%;
  }

  .faq-container h3 {
    font-family: inter, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  summary {
    font-size: 1.2rem;
  }

  /* footer section */
  .footer-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer-col1 {
    max-width: 100%;
    padding-left: 15px;
  }
  .footer-col1 > p {
    margin-bottom: 30px;
  }
  .footer-col2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
  }
  hr {
    width: 95%;
    margin: 50px auto 30px;
    opacity: 0.2;
    padding: 0 60px;
  }
  .footer-text {
    padding-left: 10px;
    text-align: left;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* just for checking tablet and big device (such as laptop- 1024px) responsvieness */
@media screen and (min-width: 576px) {
  .nav-container {
    padding: 0 20px;
  }
  .nav-item li {
    text-align: center;
  }

  /* hero section */
  .hero-section {
    flex-direction: row;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .hero-col1 {
    width: 60%;
    margin: 20px 0px;
  }
  .hero-col2 {
    width: 50%;
    overflow: hidden;
  }
  .hero-col1 h1 {
    font-size: 5rem;
    line-height: 110%;
    max-width: 85%;
  }
  .shape {
    font-size: 8rem;
    font-weight: 500;
  }
  .hero-col1 p {
    width: 90%;
  }
  .hero-btn-container {
    gap: 50px;
  }
  .hero-col2-image-container {
    margin-top: 48px;
    display: flex;
    max-height: 700px;
    /* border: 1px solid green; */
  }
  .hero-col2-image-container > img {
    width: 65%;
    height: auto;
    margin: -20px auto;
  }

  .tutorial-text {
    font-size: 0.8rem;
    width: 80px;
  }
  .tutorial-text h4 {
    font-size: 1.8rem;
  }
  .tutorial-number {
    top: 70%;
    right: 50%;
    width: 152px;
    backdrop-filter: blur(10px);
  }
  .workout-video {
    top: 25%;
    right: 10%;
    width: 150px;
    height: 70px;
    background: #ffffff1a;
  }

  /* habit section */
  .habit-parent {
    gap: 10px;
    width: 80%;
  }
  .habit-section p {
    width: 70%;
  }
  .habit-item p {
    width: 100%;
  }

  /* run extra section */
  .run-extra {
    width: 90%;
    margin: 0 auto;
  }
  .run-col1 {
    width: 50%;
  }
  .run-col1 button {
    width: 60%;
  }
  .run-col2 {
    width: 48%;
    height: 380px;
  }
  .run-col2 img {
    width: 250%;
    height: 250%;
    right: 118%;
    bottom: 45%;
    border-radius: inherit;
  }

  /* bmi calc section */
  .bmi-col1 {
    padding-left: 20px;
  }
  form {
    display: grid;
    grid-template-columns: repeat(2, 47%);
  }

  /* team section */
  .section-title {
    margin-top: -60px;
    margin-bottom: 10px;
  }
  .section-details {
    width: 70%;
  }
  .team-container {
    margin: 0 20px;
  }

  /* FAQ section */
  summary {
    font-size: 1.3rem;
  }

  /* footer section */
  .footer-section {
    padding: 20px 20px;
  }
}
